Summer20/force-app/main/default/flows/Datatable_Field_Picker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Remove_Trailing_Comma</name>
        <label>Remove Trailing Comma</label>
        <locationX>316</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>vFieldList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRemoveLast2Characters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reorder_Field_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Values</name>
        <label>Update Values</label>
        <locationX>448</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>vDisableObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFieldList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vSelectedField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFieldList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_Picker</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Next</name>
        <label>What Next?</label>
        <locationX>310</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Remove_Trailing_Comma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finished</defaultConnectorLabel>
        <rules>
            <name>Add_Another_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation.fire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Values</targetReference>
            </connector>
            <label>Add Another Field</label>
        </rules>
    </decisions>
    <description>Run this Flow to select a list of fields to feed into your Datatable flow component.</description>
    <formulas>
        <name>fRemoveLast2Characters</name>
        <dataType>String</dataType>
        <expression>LEFT({!vFieldList},LEN({!vFieldList})-2)</expression>
    </formulas>
    <interviewLabel>Datatable Field Picker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Datatable Field Picker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_this_Field_List</name>
        <label>Copy this Field List</label>
        <locationX>617</locationX>
        <locationY>584</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(16, 125, 199); font-size: 14px;&quot;&gt;Copy this field list to add to your Datatable component attribute for &lt;/span&gt;&lt;b style=&quot;color: rgb(16, 125, 199); font-size: 14px;&quot;&gt;Column Fields&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineAbove</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>20</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FieldList</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!vFinalSelection}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LineBelow</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_Picker</name>
        <label>Field Picker</label>
        <locationX>237</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Next</targetReference>
        </connector>
        <fields>
            <name>ObjectFieldPicker</name>
            <extensionName>c:pickObjectAndFieldFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableObjectPicklist</name>
                <value>
                    <elementReference>vDisableObject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldType</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Select a Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <elementReference>vObjectName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vSelectedField</assignToReference>
                <name>field</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vObjectName</assignToReference>
                <name>objectType</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Line</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CurrentList</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!vFieldList}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigation</name>
            <extensionName>c:navigationButtonFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label2</name>
                <value>
                    <stringValue>Finished</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reorder_Field_List</name>
        <label>Reorder Field List</label>
        <locationX>482</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_this_Field_List</targetReference>
        </connector>
        <fields>
            <name>ReorderFields</name>
            <extensionName>c:dualListBoxFsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsCSV</name>
                <value>
                    <elementReference>vFieldList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptionsCSV</name>
                <value>
                    <elementReference>vFieldList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>SELECT FIELD ORDER</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>REMOVED FIELDS</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vFinalSelection</assignToReference>
                <name>selectedOptionsCSV</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>58</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Field_Picker</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>vDisableObject</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vFieldList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFinalSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>vSelectedField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
