Summer20/force-app/main/default/flows/Test_Datatable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Get_Results</name>
        <label>Get Results</label>
        <locationX>759</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>colSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayTable.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colEdited</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayTable.outputEditedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResultsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attributes</name>
        <label>Set Attributes</label>
        <locationX>543</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>vFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name,BillingState,Phone,Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Selection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test Datatable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Datatable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Accounts</name>
        <label>Get All Accounts</label>
        <locationX>361</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pre_Selected_Accounts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pre_Selected_Accounts</name>
        <label>Get Pre-Selected Accounts</label>
        <locationX>361</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Attributes</targetReference>
        </connector>
        <filters>
            <field>BillingState</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_Selection</name>
        <label>Account Selection</label>
        <locationX>685</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Results</targetReference>
        </connector>
        <fields>
            <name>DisplayTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableLwcFsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <elementReference>vFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>Get_Pre_Selected_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResultsScreen</name>
        <label>ResultsScreen</label>
        <locationX>844</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResultsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableLwcFsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <elementReference>vFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_All_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colEdited</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
