Datatable and Flow List View/force-app/main/default/flows/Sample_Flow_Apex_Defined_Object_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Translate_Apex_Defined_Records</name>
        <label>Translate Apex Defined Records</label>
        <locationX>699</locationX>
        <locationY>258</locationY>
        <actionName>TranslateApexDefinedRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Input_Output</targetReference>
        </connector>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>acolApexDefinedRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>vInputRecordString</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Add_Record_1</name>
        <label>Add Record 1</label>
        <locationX>240</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>acolApexDefinedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aApexDefinedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_2_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_2</name>
        <label>Add Record 2</label>
        <locationX>427</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>acolApexDefinedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aApexDefinedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Record_String_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_1_Values</name>
        <label>Assign Record 1 Values</label>
        <locationX>176</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>aApexDefinedRecord.field1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record1_Value1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aApexDefinedRecord.field2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record1_Value2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aApexDefinedRecord.field3</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aApexDefinedRecord.field4</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_2_Values</name>
        <label>Assign Record 2 Values</label>
        <locationX>345</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>aApexDefinedRecord.field1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record2_Value1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aApexDefinedRecord.field2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record2_Value2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aApexDefinedRecord.field3</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aApexDefinedRecord.field4</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_String_Value</name>
        <label>Assign Record String Value</label>
        <locationX>519</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>vInputRecordString</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[{&quot;field1&quot;:&quot;StringRec1Value1&quot;,&quot;field2&quot;:&quot;StringRec1Value2&quot;,&quot;field3&quot;:false,&quot;field4&quot;:10},{&quot;field1&quot;:&quot;StringRec2Value1&quot;,&quot;field2&quot;:&quot;StringRec2Value2&quot;,&quot;field3&quot;:true,&quot;field4&quot;:20},{&quot;field1&quot;:&quot;StringRec3Value1&quot;,&quot;field2&quot;:&quot;StringRec3Value2&quot;,&quot;field3&quot;:true,&quot;field4&quot;:30}]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Translate_Apex_Defined_Records</targetReference>
        </connector>
    </assignments>
    <description>Sample Flow using an Apex-Defined Objaect variable calling an Action to translate the records between a Serialized String and a Collection Apex-Defined Variable.</description>
    <interviewLabel>Sample Flow - Apex-Defined Object Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample Flow - Apex-Defined Object Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Input_Output</name>
        <label>Display Input/Output</label>
        <locationX>861</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Output</name>
            <fieldText>&lt;p&gt;&lt;b&gt;﻿Input String:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!vInputRecordString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Output Collection:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Translate_Apex_Defined_Records.outputCollection}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Sample Datatable Using the Input String from the Flow:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApexDefinedDatatable1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>field1, field2, field3, field4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>vInputRecordString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>4:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>1:text, 2:text, 3:boolean, 4:number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>blank</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Output2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;---------------------------------------&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Input Collection:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!acolApexDefinedRecords}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Output String:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Translate_Apex_Defined_Records.outputString}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Sample Datatable Using the Translated String from the Apex Action:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ApexDefinedDatatable2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>Translate_Apex_Defined_Records.outputString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>field1, field2, field3, field4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>1:text, 2:text, 3:boolean, 4:number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>4:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>blank</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Record_1_Values</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>aApexDefinedRecord</name>
        <apexClass>SampleClassDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>acolApexDefinedRecords</name>
        <apexClass>SampleClassDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vInputRecordString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
