Datatable and Flow List View/force-app/main/default/flows/Test_GetFlowDefinitions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Flow_Details</name>
        <label>Get Flow Details</label>
        <locationX>489</locationX>
        <locationY>186</locationY>
        <actionName>GetFlowInfoAdvanced</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Datatable</targetReference>
        </connector>
        <inputParameters>
            <name>lowerBoundary</name>
            <value>
                <elementReference>Lower_Boundary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>upperBoundary</name>
            <value>
                <elementReference>Upper_Boundary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusSelection</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>typeSelection</name>
            <value>
                <elementReference>Flow_Type</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <choices>
        <name>Active</name>
        <choiceText>Active</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flow</name>
        <choiceText>Flow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inactive</name>
        <choiceText>Inactive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactive</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProcessBuilder</name>
        <choiceText>Process Builder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ProcessBuilder</stringValue>
        </value>
    </choices>
    <formulas>
        <name>fColumnCellAttributes</name>
        <dataType>String</dataType>
        <expression>&quot;Label:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;ProcessType:{class: {fieldName: RowShadeValue}, iconName: {fieldName: FlowTypeIcon}, iconPosition: left};&quot; &amp;
&quot;Status:{class: {fieldName: RowShadeValue}, iconName: {fieldName: FlowStatusIcon}, iconPosition: left};&quot; &amp;
&quot;VersionNumber:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;Description:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;LastModifiedBy:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;LastModifiedDateString:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;WorkflowObject:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;TriggerType:{class: {fieldName: RowShadeValue}};&quot; &amp;
&quot;IsTemplate:{class: {fieldName: RowShadeValue}}&quot;</expression>
    </formulas>
    <formulas>
        <name>fColumnFields</name>
        <dataType>String</dataType>
        <expression>IF({!IncludeDescription.value},
&quot;Label,ProcessType,Status,VersionNumber,Description,LastModifiedBy,LastModifiedDate,WorkflowObject,TriggerType,IsTemplate&quot;,
&quot;Label,ProcessType,Status,VersionNumber,LastModifiedBy,LastModifiedDate,WorkflowObject,TriggerType,IsTemplate&quot;)</expression>
    </formulas>
    <formulas>
        <name>fColumnWidths</name>
        <dataType>String</dataType>
        <expression>IF({!IncludeDescription.value},
&quot;350,180,120,80,300,150,185,180,120,100&quot;,
&quot;350,180,120,80,150,185,180,120,100&quot;)</expression>
    </formulas>
    <interviewLabel>Test GetFlowDefinitions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test GetFlowDefinitions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Datatable</name>
        <label>Display Datatable</label>
        <locationX>635</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Display_Selected_Rows</targetReference>
        </connector>
        <fields>
            <name>NewLWC</name>
            <extensionName>c:datatableLwcFsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <elementReference>fColumnFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>Get_Flow_Details.FlowVersionRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>VersionNumber:center,IsTemplate:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>Label:lookup,VersionNumber:number,LastModifiedDate:datetime,IsTemplate:boolean</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>IsTemplate:Template?,LastModifiedBy:Last Modified By,LastModifiedDateString:Last Modified Date,VersionNumber:Version,WorkflowObject:PB Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <elementReference>fColumnWidths</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnCellAttribs</name>
                <value>
                    <elementReference>fColumnCellAttributes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnOtherAttribs</name>
                <value>
                    <stringValue>Description:{wrapText:true,wrapTextMaxLines:8}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>DurableId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableHeight</name>
                <value>
                    <stringValue>calc(100vh - 100px)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Edited_Rows</name>
        <label>Display Edited Rows</label>
        <locationX>948</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LWC_Edited</name>
            <extensionName>c:datatableLwcFsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>LWC_Selected.outputEditedRowsString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <elementReference>fColumnFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>VersionNumber:center,IsTemplate:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>Label:lookup,VersionNumber:number,LastModifiedDate:datetime,IsTemplate:boolean</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>IsTemplate:Template?,LastModifiedBy:Last Modified By,LastModifiedDateString:Last Modified Date,VersionNumber:Version,WorkflowObject:PB Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <elementReference>fColumnWidths</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnCellAttribs</name>
                <value>
                    <elementReference>fColumnCellAttributes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnOtherAttribs</name>
                <value>
                    <stringValue>Description:{wrapText:true,wrapTextMaxLines:8}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>DurableId</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Selected_Rows</name>
        <label>Display Selected Rows</label>
        <locationX>788</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Display_Edited_Rows</targetReference>
        </connector>
        <fields>
            <name>LWC_Selected</name>
            <extensionName>c:datatableLwcFsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <elementReference>fColumnFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>VersionNumber:center,IsTemplate:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>IsTemplate:Template?,LastModifiedBy:Last Modified By,LastModifiedDateString:Last Modified Date,VersionNumber:Version,WorkflowObject:PB Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <elementReference>fColumnWidths</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnCellAttribs</name>
                <value>
                    <elementReference>fColumnCellAttributes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnOtherAttribs</name>
                <value>
                    <stringValue>Description:{wrapText:true,wrapTextMaxLines:8}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>DurableId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>Label:lookup,VersionNumber:number,LastModifiedDate:datetime,IsTemplate:boolean</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRowsString</name>
                <value>
                    <elementReference>NewLWC.outputSelectedRowsString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>NewLWC.outputSelectedRowsString</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_List_View_Options</name>
        <label>Flow List View Options</label>
        <locationX>339</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Flow_Details</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Generate List Views for Flows and Process Builders&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Flow_Type</name>
            <choiceReferences>ProcessBuilder</choiceReferences>
            <choiceReferences>Flow</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ProcessBuilder</defaultSelectedChoiceReference>
            <fieldText>Flow Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Active</choiceReferences>
            <choiceReferences>Inactive</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Active</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IncludeDescription</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Include Description Column?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Notice</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 10px;&quot;&gt;If you have a large number of Flow versions, this component may exceed SOQL limits.  If that is the case, select a Lower and/or Upper value for the API Name in order to reduce the number of selections to be displayed.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lower_Boundary</name>
            <dataType>String</dataType>
            <fieldText>Lower Boundary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upper_Boundary</name>
            <dataType>String</dataType>
            <fieldText>Upper Boundary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>65</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>Flow_List_View_Options</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
