datatableLwcFsc/force-app/main/default/flows/Test_LWC_Datatable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Test - LWC Datatable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test - LWC Datatable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Accounts</name>
        <label>Get All Accounts</label>
        <locationX>201</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pre_Accounts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pre_Accounts</name>
        <label>Get Pre Accounts</label>
        <locationX>201</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Datatable</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Datatable</name>
        <label>Datatable</label>
        <locationX>388</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <fields>
            <name>lwc</name>
            <extensionName>c:datatableLwcFsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnDefinitions</name>
                <value>
                    <stringValue>Account Name,Name,text,,,300|Account Number,AccountNumber,,,true,100|Account Owner,OwnerId,,,,200|Account Type,Type,,,true,120</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>Get_Pre_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colAccountSelected</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>colAccountEdited</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>573</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DispRes</name>
            <fieldText>&lt;p&gt;Selected: {!colAccountSelected}&lt;/p&gt;&lt;p&gt;Edited: {!colAccountEdited}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>afteredit</name>
            <extensionName>c:datatableLwcFsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnDefinitions</name>
                <value>
                    <stringValue>Account Name,Name,text,,,300|Account Number,AccountNumber,,,false,100|Account Owner,OwnerId,,,,200|Account Type,Type,,,false,120</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colAccountEdited</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colAccountEdited</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colAccountSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
