datatableLwcFsc/force-app/main/default/flows/Test_Geo_Error.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Records</name>
        <label>Assign Records</label>
        <locationX>458</locationX>
        <locationY>155</locationY>
        <assignmentItems>
            <assignToReference>colContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Datatable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_0</name>
        <label>Assign Records</label>
        <locationX>458</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>colContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Fields_FAIL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Datatable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_0_0</name>
        <label>Assign Records</label>
        <locationX>458</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>colContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auto_Fields_FAIL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Datatable</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test - Geo Error {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test - Geo Error</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Auto_Fields_FAIL</name>
        <label>Auto Fields - FAIL</label>
        <locationX>303</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Records_0_0</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Choose_Fields_FAIL</name>
        <label>Choose Fields - FAIL</label>
        <locationX>303</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Records_0</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>geo__Latitude__s</queriedFields>
        <queriedFields>geo__Longitude__s</queriedFields>
        <queriedFields>geo__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contacts</name>
        <label>Get All Contacts - Choose Fields</label>
        <locationX>303</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>geo__Latitude__s</queriedFields>
        <queriedFields>geo__Longitude__s</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Datatable</name>
        <label>Show Table</label>
        <locationX>685</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <fields>
            <name>AllData</name>
            <extensionName>c:dtGeoError</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colContact</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colSelected</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Show New Table w/ Selected Records</label>
        <locationX>836</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Selected: {!colSelected}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SellectedData</name>
            <extensionName>c:dtGeoError</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>70</locationX>
        <locationY>312</locationY>
        <connector>
            <targetReference>Get_All_Contacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>colSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
