ersQuickSwitchApp/force-app/main/default/flows/ersQuickSwitchApp_Custom_Metadata_Configurator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>ersQuickSwitchApp Custom Metadata Configurator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ersQuickSwitchApp Custom Metadata Configurator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_App_Definitions</name>
        <label>Get App Definitions</label>
        <locationX>468</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Apps</targetReference>
        </connector>
        <filters>
            <field>UiType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lightning</stringValue>
            </value>
        </filters>
        <object>AppDefinition</object>
        <outputReference>colAppDefinitions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>LogoUrl</queriedFields>
        <queriedFields>NamespacePrefix</queriedFields>
        <queriedFields>NavType</queriedFields>
        <queriedFields>UiType</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Configuration_Record</name>
        <label>Get Configuration Record</label>
        <locationX>326</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_App_Definitions</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Configuration_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuickAppSwitcher__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ersQuickSwitchApp_Custom_Metadata_Configurator</name>
        <label>ersQuickSwitchApp Custom Metadata Configurator</label>
        <locationX>189</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Configuration_Record</targetReference>
        </connector>
        <fields>
            <name>Configuration_Record</name>
            <dataType>String</dataType>
            <fieldText>Configuration Record (Will create a new record if this name is not found)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Apps</name>
        <label>Select Apps</label>
        <locationX>611</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AppDefinitionDatatable</name>
            <extensionName>c:quickAppSwitcherDt</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colAppDefinitions</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colSelectedAppDefinitions</assignToReference>
                <name>selectedData</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ersQuickSwitchApp_Custom_Metadata_Configurator</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colAppDefinitions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppDefinition</objectType>
    </variables>
    <variables>
        <name>colSelectedAppDefinitions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppDefinition</objectType>
    </variables>
</Flow>
